<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="base :: headstuff"></th:block>

</head>

<body>
<div th:replace="base :: navlinks"> </div>

<div class="container">
    <div class="jumbotron">
        <a href ="/add">Add message</a><br />
<h5>List of Message</h5>
<table>
    <tr>
        <th>Content</th>
        <th>SentBy</th>
        <th>Date</th>
    </tr>

    <tr th:each="message : ${messages}">
        <td th:text ="${message.description}"></td>
        <td th:text ="${message.sentBy}"></td>
        <td th:text ="${message.Date}"></td>
        <td>
            <div sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/update/{id}(id=${message.id})}">Update</a>
            <a th:href="@{/detail/{id}(id=${message.id})}">Details</a>

                      </div>
            <div sec:authorize="hasAuthority('USER')">
                <a th:href="@{/detail/{id}(id=${message.id})}">Details</a>

           </div>

</td>
    </tr>
</table>
        <br>
        <div sec:authorize ="isAuthenticated()">
            <a class ="btn-primary btn-lg"  href="/logout" role="button">logout </a>
        </div>
    </div>
</div>


</body>
</html>