<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="base :: headstuff"></head>
<body>
<div th:replace="base :: navlinks"> </div>

<h4>list of Message</h4>
<a href ="/add">Add message</a><br />

<table>
    <tr>
        <th>Content</th>
        <th>SentBY</th>
        <td>Date</td>
    </tr>

    <tr th:each="message : ${messages}">
        <td th:text ="${message.description}"></td>
        <td th:text ="${message.sentBy}"></td>
        <td th:text ="${message.Date}"></td>
        <td>
            <div sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/update/{id}(id=${message.id})}">Update</a>
            <a th:href="@{/detail/{id}(id=${message.id})}">Details</a>
                      </div>
            <div sec:authorize="hasAuthority('USER')">
                <a th:href="@{/detail/{id}(id=${message.id})}">Details</a>
            </div>

</td>
    </tr>
</table>
<div sec:authorize ="isAuthenticated()">
    <a href="/logout">logout </a>
</div>

</body>
</html>