<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="base" :: navlinks> </div>

<div class="container">
        <div class="jumbotron">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><a href="/">Show All message</a><br /></th>
            <th>Enter your message:</th>
            <th>Message Post Date :</th>
            <th>Message Sent By: </th>
        </tr>
        </thead>
    <tbody>
        <tr>
            <td><span th:text="${message.description}"></span></td>
            <td><span th:text="${message.date}" ></span></td>
            <td><span th:text="${message.sentBy}" ></span></td>
        </tr>
    </tbody>
    </table>
            <a th:href="@{/update/{id}(id=${message.id})}">Update</a>
</div>
</div>
</body>
</html>